################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Registration.Api/FileContentIndex/369300ae-8a53-4b28-b9ba-343f71b5658e.vsidx
/.vs/Registration.Api/FileContentIndex/397b1d80-0904-4eb7-9ed1-ef47d43a9bc5.vsidx
