################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Registration.Api/FileContentIndex/369300ae-8a53-4b28-b9ba-343f71b5658e.vsidx
